// When a new node needs to use PromisedWorldsSettings, it must be handled here.
// Each node gets PromisedWorldsSettings copied into it BEFORE PromisedWorlds, and then gets its copy of PromisedWorldsSettings deleted at FINAL.
// Also, when a new celestial body is added, it should be added at the bottom both for PLANETARY_RESOURCE and for BIOME_RESOURCE.
// For those, only the copying of PromisedWorldsSettings is required, as all PLANETARY_RESOURCE and BIOME_RESOURCE nodes get PromisedWorldsSettings deleted from them at the end.

@Kopernicus:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings {}
}
@Kopernicus:FINAL
{
	!PromisedWorldsSettings {}
}

@Kopernicus_config:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings {}
}
@Kopernicus_config:FINAL
{
	!PromisedWorldsSettings {}
}


@Scatterer_sunflare:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings {}
}
@Scatterer_sunflare:FINAL
{
	!PromisedWorldsSettings {}
}


@Scatterer_atmosphere:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings{}
}
@Scatterer_atmosphere:FINAL
{
	!PromisedWorldsSettings{}
}


@Scatterer_planetsList:BEFORE[PromisedWorlds]
{	
	#@PromisedWorldsSettings{}
}
@Scatterer_planetsList:FINAL
{	
	!PromisedWorldsSettings{}
}


@Scatterer_ocean:BEFORE[PromisedWorlds]
{	
	#@PromisedWorldsSettings{}
}
@Scatterer_ocean:FINAL
{	
	!PromisedWorldsSettings{}
}

@ScaledDecoratorObject:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings {}
}
@ScaledDecoratorObject:FINAL
{
	!PromisedWorldsSettings {}
}

@PQS_MANAGER:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings {}
}
@PQS_MANAGER:FINAL
{
	!PromisedWorldsSettings {}
}


@EVE_CLOUDS:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings {}
}
@EVE_CLOUDS:FINAL
{
	!PromisedWorldsSettings {}
}


@SigmaDimensions:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings {}
}
@SigmaDimensions:FINAL
{
	!PromisedWorldsSettings {}
}


@SigmaReplacements:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings {}
}
@SigmaReplacements:FINAL
{
	!PromisedWorldsSettings {}
}

@DiRT_Config:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings {}
}
@DiRT_Config:FINAL
{
	!PromisedWorldsSettings {}
}

@TextureReplacerReplaced:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings {}
}
@TextureReplacerReplaced:FINAL
{
	!PromisedWorldsSettings {}
}

@Parallax:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings {}
}
@Parallax:FINAL
{
	!PromisedWorldsSettings {}
}

@ParallaxTerrain:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings {}
}
@ParallaxTerrain:FINAL
{
	!PromisedWorldsSettings {}
}

@ParallaxScatters:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings {}
}
@ParallaxScatters:FINAL
{
	!PromisedWorldsSettings {}
}

@RESEARCHBODIES:HAS[#name[PromisedWorlds]]:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings {}
}
@RESEARCHBODIES:HAS[#name[PromisedWorlds]]:FINAL
{
	!PromisedWorldsSettings {}
}

@Kronometer:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings {}
}
@Kronometer:FINAL
{
	!PromisedWorldsSettings {}
}

@principia_gravity_model:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings {}
}

@principia_gravity_model:FINAL
{
	!PromisedWorldsSettings {}
}

@SPACEDUST_RESOURCE:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings {}
}

@SPACEDUST_RESOURCE:FINAL
{
	!PromisedWorldsSettings {}
}

@EXPERIMENT_DEFINITION:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings {}
}

@EXPERIMENT_DEFINITION:FINAL
{
	!PromisedWorldsSettings {}
}

@Singularity:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings {}
}
@Singularity:FINAL
{
	!PromisedWorldsSettings {}
}

@INSTANTIATOR:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings {}
}

@INSTANTIATOR:FINAL
{
	!PromisedWorldsSettings {}
}

@RadiationBody:BEFORE[PromisedWorlds]
{
	#@PromisedWorldsSettings {}
}

@RadiationBody:FINAL
{
	!PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Sun]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Kerbin]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Debdeb]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Charr]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Ovin]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Gurdamma]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Donk]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Gup]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Lapat]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Axod]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Umod]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Dorau]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Bis]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[KevbasAnomalyA]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[KevbasAnomalyB]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Tuun]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[RaskRuskBarycenter]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Rask]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Rusk]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Puf]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Glumo]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Noj]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Merbel]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[BorgalsAnomalyA]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[BorgalsAnomalyB]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Sun]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Kerbin]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Debdeb]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Charr]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Ovin]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Gurdamma]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Donk]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Gup]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Lapat]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Axod]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Umod]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Dorau]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Bis]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[KevbasAnomalyA]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[KevbasAnomalyB]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Tuun]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[RaskRuskBarycenter]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Rask]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Rusk]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Puf]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Glumo]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Noj]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[Merbel]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[BorgalsAnomalyA]]
{
	#@PromisedWorldsSettings {}
}

@BIOME_RESOURCE:BEFORE[PromisedWorlds]:HAS[#PlanetName[BorgalsAnomalyB]]
{
	#@PromisedWorldsSettings {}
}

@PLANETARY_RESOURCE:FINAL
{
	!PromisedWorldsSettings {}
}

@BIOME_RESOURCE:FINAL
{
	!PromisedWorldsSettings {}
}
